@import 'normalize.css';
:root {
    --a-color: argb(1, 1, 1, 0.1);
    --TEST-COLOR: #ccc;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: grey;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}